.scene-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 92vh;
  background-size: cover;

  background:
               /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */ url("../../public/scene1.png");
}

.scene-container1 {
  margin-bottom: 15vh;
}

.scene-logo {
  display: flex;
  justify-self: center;
  width: 50em;
}

.scene-play-button {
  margin-left: 30%;
  margin-top: 1em;
  border: none;
  width: 20em;
  height: 4em;
  background-color: #303436;
  color: gray;
  font-weight: bold;
  font-size: 1em;
}

.scene-play-button:hover {
  color: white;
  cursor: pointer;
  margin-top: 0.8em;
  height: 4.2em;
  width: 20.2em;
}
