.scene-img {
  background:
               /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */ url("../../public/scene1.png");

  width: 100vw;
  height: 85vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.scene-container1 {
  margin-bottom: 15vh;
}

.scene-logo {
  display: flex;
  justify-self: center;
  width: 50em;
}

.scene-play-button {
  border: none;
  width: 20em;
  height: 4em;
  background-color: #303436;
  color: gray;
  font-weight: bold;
  font-size: 1em;
}

.scene-play-button:hover {
  color: white;
  cursor: pointer;
  margin-top: 0.8em;
  width: 21em;
}
